<div class="col w-100">
    <div class="card" style="min-width: 28rem;min-height:350px">
        <div class="card-body">

            <h5 class="card-title">{{ movie.title }}
                {% if app.user %}
                    {% set movieClass = '' %}
                    {% if movie in app.user.movies %}
                        {% set movieClass = 'favourite' %}
                    {% endif %}
                    <i data-imDBID="{{ movie.imDBID }}"
                       class="material-icons js-movie-fav  {{ movieClass }} float-right">
                        star
                    </i>

                {% endif %}</h5>
            <img class="rounded float-right" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ movie.image }}"
                 height="200" alt="Movie poster"/>
            <p class="card-text">{{ movie.note }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ movie.releaseDate ? movie.releaseDate|date('d-m-Y') : '' }}</h6>
            <p class="card-text">{{ movie.summary | slice(0, 100) }}</p>

            <p class="card-text">
                {% for genre in movie.genres %}
                    <a href="{{path('movie_index_genre',{name: genre.name })}}"> {{ genre.name }} </a>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div class="col text-center">
                <a href="{{ path('movie_show', {'id': movie.id}) }}" class="btn btn-dark">Détail</a>
            </div>
        </div>
    </div>
</div>